<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <main>
        <form action="/depoimento/salvar" method="POST">
            <div class='cadastro_itens_in'>
                
                    <div class="nome_pessoa">
                        <input placeholder="Nome" type="text" name="nome">
                    </div>
                    <div class="depoimento">
                        <input placeholder="Depoimento" type="text" name="depoimento">
                    </div>
                    <div class="button_in">
                        <input type="submit" value="Salve">
                    </div>
            </div>
        </form>
    </main>
</body>
</html>
                    
                