<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        

    </head>
    <body>
        <h1 class="tit_listau">Lista depoimentos</h1>
        <table class="tabela1">
            <thead>
                <tr>      
                    <th>id</th>      
                    <th>nome</th>
                    <th>depoimento</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="borda">
                {% for p in lista %}
        
                <tr>
                    <td>{{p.id}}</td>
                    <td>{{p.nome}}</td>
                    <td>{{p.depoimento}}</td>
                    <td>
                        <a href="/depoimento/delete?id={{p.id}}">
                            <div class="del">
                                <input type="submit" value="Delete">
                            </div>
                        </a>
                        <a href="/depoimento/aceitar?id={{p.id}}">
                            <div class="alt">
                                <input type="submit" value="Alterar">
                            </div>
                        </a>
                    </td>
        
                </tr>
                {% endfor %}
        
            </tbody>
        </table>    
    </body>
</html>